@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import 'tailwindcss';

:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
  color: #1f1d29;
}

img {
  max-width: 100%;
  display: block;
}

.toast-theme {
  --toastify-color-progress-light: #7a32f2;
}
